@model UpdateBannerDto
@{
    ViewData["Title"] = "UpdateBanner";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
	<div class="container-fluid">
		<div class="card">
			<div class="card-body">

				<h4 class="card-title">Yeni Banner Bilgisi Girişi</h4>
				<p class="card-subtitle mb-4">
					Yeni Banner Girişini Aşağıda Yapabilirsiniz. Tema bütünlüğünün Bozulmaması Adına 1 Tane Veri Giriniz.
				</p>
				<form method="post">
					<input type="hidden" asp-for="BannerID" />
					<div class="form-group">
						<label for="exampleInputTitle">Başlık</label>
						<input type="text" class="form-control" asp-for="Title" id="exampleInputTitle" placeholder="Başlığı Giriniz">
					</div>
					<div class="form-group">
						<label for="exampleInputDescription">Açıklama</label>
						<input type="text" class="form-control" asp-for="Description" id="exampleInputDescription" placeholder="Açıklamayı Giriniz">
					</div>
					<div class="form-group">
						<label for="exampleInputVideoUrl">Video Url</label>
						<input type="text" class="form-control" asp-for="VideoUrl" id="exampleInputVideoUrl" placeholder="Video Url Giriniz">
					</div>
					<div class="form-group">
						<label for="exampleInputVideoDescription">Video Url Açıklaması</label>
						<input type="text" class="form-control" asp-for="VideoDescription" id="exampleInputVideoDescription" placeholder="Video Youtube Embed Linkini Giriniz">
					</div>
					<button type="submit" class="btn btn-primary waves-effect waves-light">Banner Bilgisini Güncelle</button>
				</form>

			</div>
		</div>
	</div>
</div>




