@model CreatePricingDto
@{
	ViewData["Title"] = "CreatePricing";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
	<div class="container-fluid">
		<div class="card">
			<div class="card-body">

				<h4 class="card-title">Yeni Ödeme Periyodu Girişi</h4>
				<p class="card-subtitle mb-4">
					Yeni Ödeme Periyodu Alanına Aşağıda Veri Girebilirsiniz.
				</p>
				<form method="post">
					<div class="form-group">
						<label for="exampleInputName">Ödeme Periyot Başlığı</label>
						<input type="text" class="form-control" asp-for="Name" id="exampleInputName" placeholder="Ödeme Periyot Adını Giriniz">
					</div>
					
					<button type="submit" class="btn btn-primary waves-effect waves-light">Ödeme Periyot Bilgisini Kaydet</button>
				</form>

			</div>
		</div>
	</div>
</div>


